.articulo .enlaces a {
  text-decoration: none;
  color: #FF5900;
  margin-right: 3%;
  margin-top: 3%;
  padding-left: 13%;
  padding-bottom: 8%;
}
.articulo .enlaces:hover {
  color: #cd4d07;
}
.imagenArticulo {
  width: 100%;
  border: 2px #721121 solid;
}
h1 {
  font-size: 33px;
  color: #721121;
}
#valoracion {
  border: 2px #721121 dotted;
  border-radius: 15%;
  height: 200px;
  padding: 3%;
  margin-top: 3%;
}
#valoracion h3 {
  font-size: 26px;
  color: #721121;
}
#valoracion img {
  max-width: 40px;
}
#valoracion img:hover {
  transform: scale(1.2);
}
